### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

#check Pandas version 
#print(pd.__version__)

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete_df

In [2]:
#copy df for second half of analysis
school_data_copy_df = school_data_complete_df.copy()

In [3]:
#school_data_complete_df.dtypes

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#calculate total number of schools
num_schools = school_data_complete_df["school_name"].value_counts()
print(num_schools)
total_schools = num_schools.count()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [5]:
#Calculate total number of students
num_students = school_data_complete_df["student_name"].count()
#print(num_students)

In [6]:
budgets_dict = dict(zip(school_data_complete_df.school_name, school_data_complete_df.budget))
#print(budgets_dict)

In [7]:
#Calculate the total budget
budget_total = sum(budgets_dict.values())
#print(budget_total)

In [8]:
#school_data_complete_df.head()

In [9]:
#print(school_data_complete_df.loc[:,"math_score"])

In [10]:
#Calculate the average math score 
math_avg = sum(school_data_complete_df.math_score) / num_students
#print(math_avg)

In [11]:
#Calculate the average reading score
reading_avg = sum(school_data_complete_df.reading_score) / num_students
#print(reading_avg)

In [12]:
#Calculate number of students w passing math score
math_passing_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
#math_passing_df.head()

In [13]:
num_math = math_passing_df["Student ID"].count()
#print(num_math)

In [14]:
#Calculate number of students w passing reading score
reading_passing_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
#reading_passing_df.head()

In [15]:
num_reading = reading_passing_df["Student ID"].count()
#print(num_reading)

In [16]:
#Calculate Percentage of passing students
math_percent = (num_math / num_students) * 100
#print(math_percent)
reading_percent = (num_reading / num_students) * 100
#print(reading_percent)

In [17]:
#Calcualte number of students passing both
#This feels inelegant; come back to this section
passing_merged_df = pd.merge(math_passing_df, reading_passing_df, on="Student ID", how="inner")
#passing_merged_df.head()

In [18]:
num_both = passing_merged_df["Student ID"].count()
#print(num_both)

In [19]:
#Calculate percentage of dual-passing students
both_percent = (num_both / num_students) * 100
#print(both_percent)

In [20]:
#Build district summary data frame
district_summary_df = pd.DataFrame({"Total Schools" : [total_schools],
                                    "Total Students" : num_students,
                                    "Total Budget" : budget_total,
                                    "Average Math Score" : math_avg,
                                    "Average Reading Score" : reading_avg,
                                    "% Passing Math" : math_percent,
                                    "% Passing Reading" : reading_percent,
                                    "% Overall Passing": both_percent
                                   })
#Format entries : 
#https://stackoverflow.com/questions/32744997/python-pandas-apply-formatting-to-each-column-in-dataframe-using-a-dict-mapping
format_mapping = {"Total Students" : "{:,}", 
                  "Total Budget" : "${:,.2f}", 
                  "Average Math Score" : "{:.6f}", 
                  "Average Reading Score" : "{:.6f}", 
                  "% Passing Math" : "{:.6f}%",
                  "% Passing Reading" : "{:.6f}%",
                  "% Overall Passing" : "{:.6f}%"
                 }
#apply formatting
for key, value in format_mapping.items():
       district_summary_df[key] = district_summary_df[key].apply(value.format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.877840,74.980853%,85.805463%,65.172326%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [21]:
school_data_copy_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [22]:
#drop unneccessary information
school_cleaned_df = school_data_copy_df.drop(school_data_copy_df.columns[0:4], axis = 1)
school_cleaned_df.head()

,school_name,reading_score,math_score,School ID,type,size,budget
0,Huang High School,66,79,0,District,2917,1910635
1,Huang High School,94,61,0,District,2917,1910635
2,Huang High School,90,60,0,District,2917,1910635
3,Huang High School,67,58,0,District,2917,1910635
4,Huang High School,97,84,0,District,2917,1910635

In [23]:
#rename School ID column
school_cleaned_df = school_cleaned_df.rename(columns={"School ID": "school_id"}, errors = "raise")
school_cleaned_df.head()
school_cleaned_df.dtypes

school_name      object
reading_score     int64
math_score        int64
school_id         int64
type             object
size              int64
budget            int64
dtype: object

In [30]:
school_data_grouped = school_cleaned_df.groupby(school_cleaned_df.school_id)
students_count = school_data_grouped["size"].count()
print(students_count)

school_id
0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [33]:
school_avgread = (school_data_grouped["reading_score"].sum()) / students_count
print(school_avgread)

school_id
0     81.182722
1     81.158020
2     83.725724
3     80.934412
4     83.816757
5     83.989488
6     83.975780
7     81.033963
8     83.814988
9     84.044699
10    83.955000
11    80.744686
12    80.966394
13    80.746258
14    83.848930
dtype: float64

In [35]:
school_avgmath = (school_data_grouped["math_score"].sum()) / students_count
print(school_avgmath)

school_id
0     76.629414
1     76.711767
2     83.359455
3     77.289752
4     83.351499
5     83.274201
6     83.061895
7     77.048432
8     83.803279
9     83.839917
10    83.682222
11    76.842711
12    77.072464
13    77.102592
14    83.418349
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type